.feedback{
    background: url('https://images.unsplash.com/photo-1488521787991-ed7bbaae773c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9vciUyMGNoaWxkcmVufGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60') no-repeat center center;
    background-size: cover;
    background-color: white;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    padding: 40px 0px 40px 0px;
}
.feedback h2{
    color: white;
}
#reply{
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 0px 80px;
}
.replyDivs{
    background-color: white;
    margin: 0px 5px 0px 5px;
    width: 23%;
    border-radius: 10px;
    
}
.replyDivs:hover{
    cursor: pointer;
    background-color: #757575;
    color: white;
    scale: 1.09;
    transition: 0.5s ease-in-out;
}
#feedbackPhoto{
    display: flex;
}
#feedbackPhoto img{
    padding-left: 10px;
    border-radius: 50%;
    /* object-fit: cover; */
    width: 50%;
}